<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include Common.wxi?>
	<Module Id="Documentation.$(var.LCID)" Language="1033" Version="$(var.VERSION).$(var.UPDATE).$(var.BUILD)">
		<Package Id="38a1fb3b-fed7-43a7-a319-8e9ab0c72a94" Manufacturer="$(var.COMPANY)" InstallerVersion="200"/>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="MergeRedirectFolder">
				<?include HelpFiles.wxs?>
			</Directory>
		</Directory>
	</Module>
</Wix>

