<?xml version="1.0"?>
<configuration>
	<system.diagnostics>
		<switches>
			<!-- Uncomment the following line so the XmlSerializer's generate code will be left in %temp% -->
			<!-- <add name="XmlSerialization.Compilation" value="1" /> -->
		</switches>
	</system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
