[submodule "Thinkage.Core"]
	path = Thinkage.Core
	url = https://github.com/thinkageltd/Thinkage.Core
[submodule "Thinkage.Libraries"]
	path = Thinkage.Libraries
	url = https://github.com/thinkageltd/Thinkage.Libraries
