@using Thinkage.Libraries;

<div class="jumbotron">
    <h1>@T.Text("Thinkage MainBoss WebAPI")</h1>
    <p class="lead">This is the WebAPI interface to a Thinkage MainBoss database.</p>
    <p><a href="http://thinkage.ca" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Creating records</h2>
    </div>
    <div class="col-md-4">
        <h2>Reading records</h2>
    </div>
    <div class="col-md-4">
        <h2>Updating Records</h2>
    </div>
</div>
