@using Thinkage.MainBoss.WebAccess
@using Thinkage.Libraries.Translation

@{
	ViewBag.Title = "Logout";
}
@section MainContent{
	<h3>@(Html.ActionLink(T.Text("Return to MainBoss Web Access"), "Index"))</h3>
}
