@using Thinkage.MainBoss.WebAccess
@using Thinkage.Libraries.Translation

@{
	ViewBag.Title = "Logout";
}
@section MainContent{
<div class="ActivityLink">
	@(Html.ActionLink(T.Text("Return to MainBoss Web Access"), "Index"))
	<span class="HelpPopup">@T.Text("Goto the Web Access start page.")</span>
</div>
}
