/* ************************************************** */
/* CSS Styles for MainBoss Advanced online help files */
/*          Copyright 2015 Thinkage Ltd.              */
/* ************************************************** */

#InstallButton 
{
	color: rgb(56,88,21);
	font-size: larger;
}

body {
	border-width: 0px;
	margin: 5px;
	border-style: none;
	padding: 5px;
	font-family: Arial,sans-serif;
	font-size: 12pt;
	background-color: white ;
}

dt {
	padding-top: 4px;
}

dd {
	padding-bottom: 4px;
}

li {
	padding-top: 3px;
	padding-bottom: 2px;
}

p.wi {
	text-indent: -2em;
	padding-left: 4em;
}

p.wi2 {
	text-indent: -2em;
	padding-left: 6em;
}

p.wi3 {
	text-indent: -2em;
	padding-left: 8em;
}

ul.b1 {
	padding-left: 4em;
}

ul.b2 {
	padding-left: 8em;
}

table.logohead {
	border: 3px;
	border-style: solid;
	border-color: rgb(56,88,21);
	width: 100%;
	background-color: rgb(255,235,160);
}

p.box, p.button {
	border: 3px;
	border-style: ridge;
	padding: 3px;
	border-color: rgb(56,88,21);
	margin: 10px;	
}

p.button {
	text-align: center;
	background-color: rgb(255,235,160);
}

td.logo {
	width: 280px;
	text-align: left;
	vertical-align: middle;
	border: 0px;
}

td.pagehead, h1.pagehead {
	padding: 3px;
	vertical-align: middle;
}

img {
	border: 0px;
}

ul {
	font-family: Arial,sans-serif;
}

kbd {
	font-family: Courier,monospace;
}

a:visited {
	color: rgb(153,170,134);
}

a:link {
	color: rgb(56,88,21);
}

h2 {
	font-family: Arial;
	font-size: 14pt;
	color: rgb(56,88,21);
}

h3 {
	font-family: Arial;
	font-size: 12pt;
	color: rgb(56,88,21);
}

span.CButton {
	font-family: Arial;
	font-size: 12pt;
	color: green;
	font-weight: bold;
}

span.CField {
	font-family: Arial;
	font-size: 12pt;
	color: blue;
	font-weight: bold;
}

span.CKey {
	font-family: Arial;
	font-size: 12pt;
	color: #FF00FF;
	font-weight: bold;
}

span.CMenu {
	font-family: Arial;
	font-size: 12pt;
	color: red;
	font-weight: bold;
}

span.CPanel {
	font-family: Arial;
	font-size: 12pt;
	color: #993300;
	font-weight: bold;
}

span.CInset, span.CAtrserv, span.ProgName {
	font-family: Arial;
	font-size: 12pt;
	color: black;
	font-weight: bold;
}

span.CU {
	font-family: Courier New;
	font-size: 12pt;
}

span.CMessage {
	font-family: Courier New;
	font-size: 12pt;
	color: green;
}

span.CReport {
	font-family: Courier New;
	font-size: 12pt;
	color: #008080;
}

span.Emphasis {
	font-style: italic;
}

span.NewTerm {
	font-style: italic;
	color: darkorange;
}

span.BL {
	font-weight: bold;
}

span.TranslateMe {
	display: none;
}

span.StrikeOut {
	text-decoration: line-through;
}

td.footer {
	font-family: Arial;
	font-weight: bold;
	font-size: 66%;
	color: rgb(56,88,21);
	background-color: rgb(255,235,160);
}

table.innerpanel {
	font-family: Arial;
	background-color: rgb(255,235,160);
	vertical-align: top;
	text-align: center;
	border: 0;
}

table.outerpanel {
	font-family: Arial;
	padding: 2px;
	background-color: rgb(255,235,160);
	vertical-align: top;
	text-align: center;
}

table.outerpanel a:hover {
	text-decoration: underline;
}

td.innerpanel {
	text-align: center;
}

td.innerpanel_head {
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 1em;
	border-spacing: 0;
	background-color: rgb(255,235,160);
	vertical-align: bottom;
	text-align: left;
}

td.IntroHeader {
	font-family: Arial;
	color: rgb(56,88,21);
	font-size: 133%;
	font-weight: bold;
}

td.outerpanel_head {
	font-family: Arial;
	font-weight: bold;
	color: rgb(56,88,21);
	padding: 2px;
	background-color: rgb(255,235,160);
	vertical-align: top;
	text-align: center;
}

td.panel {
	font-family: Arial;
	background-color: rgb(255,235,160);
	width: 11em;
	vertical-align: top;
}

td.panel_entry {
	text-align: left;
	font: 10pt Arial;
	padding-top: 0;
	color: rgb(56,88,21);
}

td.panel_header {
	text-align: center;
	font: 10pt Arial;
	background-color: rgb(255,235,160);
	color: white;
	 font-weight: bold;
}

innerpanel_head, .innerpanel_head a:link, .innerpanel_head a:visited, .innerpanel_head a:active {
	font: 10pt Arial;
	font-weight:bold;
	background-color: rgb(255,235,160);
	color: rgb(56,88,21);
	text-decoration: none;
}

td.body {
	font-family: Arial;
	background-color: white;
	vertical-align: top;
	padding: 1em;
	margin: 1em;
	border-right-width: 3;
	border-color: rgb(56,88,21);
}

td.mainpanel {
	font-family: Arial;
	background-color: rgb(255,235,160);
	width: 280px;
	vertical-align: top;
	border-style: solid;
	border-color: rgb(56,88,21);
	border-left-width: 3;
	border-right-width: 3;
	border-top-width: 0;
	border-bottom-width: 0;
}

panel_entry, .panel_entry a:link, .panel_entry a:visited, .panel_entry a:active {
	font: 10pt Arial;
	background-color: rgb(255,235,160);
	color: rgb(56,88,21);
	text-decoration: none;
}
