/*----------------------------------------------------------
The base color for this template is #FFEBA0. If you'd like
to use a different color start by replacing all instances of
#FFEBA0 with your new color.

Thinkage Colors
193,182,125  #C1B67D (brown yellow)
56,88,21       #385815 (dark green)
255,235,160 #FFEBA0 (yellow)
----------------------------------------------------------*/
#main {
	margin: 3px 3px 3px 3px;
	background-color: #fff;
	border: none;
	_height: 1px; /* only IE6 applies CSS properties starting with an underscrore */
}

body {
	/*    background-color: #FFEBA0; */
	font-size: .75em;
	font-family: Verdana, Helvetica, Sans-Serif;
	margin: 0px;
	padding: 2px;
}

a:link {
	color: #034af3;
	text-decoration: underline;
}

a:visited {
	color: #505abc;
}

a:hover {
	color: #1d60ff;
	text-decoration: none;
}

a:active {
	color: #12eb87;
}

p, ul {
	margin-bottom: 10px;
	line-height: 1.6em;
}
/* The following apply to the 'Close' State action linkage on browsers */
a.StateActionLink {
	text-decoration: none;
	color: #385815;
	background: #FFEBA0;
	border: solid 1px #385815;
}

	a.StateActionLink:hover {
		text-decoration: none;
		background: #FFFFFF;
	}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
	font-size: 1.5em;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 2em;
	padding-bottom: 0;
	margin-bottom: 0;
}

h2 {
	padding: 0 0 10px 0;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1.1em;
}

h5, h6 {
	font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2 {
	margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
	width: 90%;
	margin: 0;
}

td.logout {
	padding: 3px;
	border-width: 0px;
	outline-width: 0px;
	text-align: right;
}

	td.logout a.StateActionLink {
		text-decoration: none;
		background: #385815;
		color: #FFEBA0;
		padding-left: 3px;
		padding-right: 3px;
		border: solid 1px #385815;
	}

		td.logout a.StateActionLink:hover {
			text-decoration: none;
			background: #FFFFFF;
			color: #385815;
		}


/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
	border-bottom: 1px #5C87B2 solid;
	padding: 0 0 2px;
	position: relative;
	margin: 0;
	text-align: right;
}

	ul#menu li {
		display: inline;
		list-style: none;
	}

		ul#menu li#greeting {
			padding: 10px 20px;
			font-weight: bold;
			text-decoration: none;
			line-height: 2.8em;
			color: #fff;
		}

		ul#menu li a {
			padding: 10px 20px;
			font-weight: bold;
			text-decoration: none;
			line-height: 2.8em;
			background-color: #e8eef4;
			color: #034af3;
		}

			ul#menu li a:hover {
				background-color: #fff;
				text-decoration: none;
			}

			ul#menu li a:active {
				background-color: #a6e2a6;
				text-decoration: none;
			}

		ul#menu li.selected a {
			background-color: #fff;
			color: #000;
		}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

form, fieldset {
	margin: 0;
	padding: 0;
	border-width: 0;
	border-style: none;
}

	fieldset p {
		margin: 6px 0px 10px 0px;
	}

	fieldset label {
		display: block;
	}

		fieldset label.inline {
			display: inline;
		}

legend {
	font-size: 1.1em;
	font-weight: 600;
	padding: 0px 4px 8px 4px;
}

input[type="text"] {
	width: auto;
	border: 1px solid #CCC;
}

textarea {
	width: 45em; /* keep in 4 to 3 ratio */
	height: 15em;
}

input[type="password"] {
	width: 20em;
	border: 1px solid #CCC;
}
/* MISC  
----------------------------------------------------------*/
.clear {
	clear: both;
}

.error {
	color: Red;
}

.Alert {
	color: Red;
}

.StateCode {
	color: Blue;
}

.StatusCode {
	color: Red;
}

.field-validation-error {
	color: #ff0000;
}

.input-validation-error {
	border: 1px solid #ff0000;
	background-color: #ffeeee;
}

.validation-summary-errors {
	font-weight: bold;
	color: #ff0000;
}
/* anything with class Deleted gets line-through */
.Deleted {
	text-decoration: line-through;
}
/* control the white space from multi-line values*/
/* Note the serif after Monospace to make browsers use same font sizing as proportional fonts */
/* see reference: http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/ for discussion of problem */

.MultiLine {
	vertical-align: text-top;
	white-space: pre-wrap;
	border-collapse: collapse;
	font-family: Monospace, serif;
	width: 100%;
}
/* ResultMessage - An error that occurred on some action typically shown immediately below the header */
.ResultMessage {
	color: Red;
	font-size: larger;
}

/* Panels for View (2 column label on left, value on right) */
.viewPanel {
	border: 0;
	padding: 0;
	margin: 0;
}

	.viewPanel > table {
		border: solid 1px #e8eef4;
		border-collapse: collapse;
		font-size: 1.1em;
		text-align: left;
		margin: 0px;
		color: #000000;
		width: 100%;
	}

	.viewPanel td {
		border: solid 1px #a9bed3;
		border-collapse: collapse;
		padding-top: 2px;
		padding-left: 2px;
		padding-bottom: 4px;
		padding-right: 6px;
		text-align: left;
	}

		.viewPanel td.Label {
			background-color: #e8eef4;
			padding: 2px;
			font-weight: bolder;
			width: 15%;
			text-align: right;
		}

		.viewPanel td.V1 {
			border-right: none;
			width: 30%;
		}

		.viewPanel td.V2 {
			border-left: none;
			width: 55%;
			text-align: right;
		}
/* Panel for enclosing Requestor contact information identified with id="contactPanel" */
#contactPanel {
	font: inherit;
	border: hidden;
	border-collapse: inherit;
	display: block;
	text-align: left;
	margin: 0px;
	color: #000000;
	width: 100%;
}

	#contactPanel td.Name {
		border: none;
		padding: 0px;
		width: 50%;
		text-align: left;
	}

	#contactPanel td {
		border: none;
		padding: 0px;
		width: 25%;
		text-align: left;
	}
/* Panel used for Assignment Status (main page) */
#assignmentPanel {
	border: hidden;
	border-style: hidden;
	outline: none;
	border-collapse: collapse;
}

	#assignmentPanel table {
		border: none;
	}

	#assignmentPanel caption {
		padding: 2px;
		text-align: left;
		font-size: 125%;
		font-weight: bolder;
		line-height: 100%;
		white-space: nowrap;
	}

	#assignmentPanel td.Label {
		border: none;
		padding: 2px;
		font-weight: normal;
		text-align: left;
	}

	#assignmentPanel td {
		padding: 0 0 0 20px;
		font-weight: normal;
		text-align: left;
	}
/* Attempts to use col and col group for viewPanel to define style for Label column didn't work out as most browsers only altered
  the width part of the column and ignored the alignment styles and font.
col.viewPanel
{
	padding: 2px;
	font-weight: bolder;
	width:16%;
	text-align:right;
	vertical-align:text-top;
}*/

/* Panels for browsePanels*/
#browsePanel {
	border: 1px;
	border-collapse: collapse;
}

	#browsePanel table {
		width: 100%;
		border-collapse: collapse;
	}

	#browsePanel tr {
		border-left: 1px solid #385815;
		border-right: 1px solid #385815;
		border-collapse: collapse;
	}

		#browsePanel tr.Info {
			border-top: 1px solid #385815;
		}

		#browsePanel tr.Subject {
			font-style: italic;
			border-bottom: 1px solid #385815;
		}

	#browsePanel td {
		padding: 2px;
	}

	#browsePanel th {
		padding: 2px 2px;
		text-align: left;
		background-color: #C1B67D;
		color: #385815;
		border: 1px solid #385815;
	}

		#browsePanel th.Subject {
			padding: 2px 2px;
			text-align: left;
			background-color: #C1B67D;
			color: #385815;
			border: 1px solid #385815;
		}

/* For viewing History Items */
#History .ui-accordion-header {
	font-weight: bolder;
	font-size: larger;
}
.viewHistoryItem {
	position: relative;
	margin: 0px;
	border: solid 1px #a9bed3;
	border-collapse: collapse;
	margin-bottom: 3px;
	padding: 4px 4px 4px 8px;
	background-color: #fff;
}

.RequestorComment {
	background-color: #f8f8f8;
}

.viewHistoryItem div {
	position: relative;
}


.viewHistoryItem .body .content {
	padding: 0px 3px 0px 3px;
	/*width: 					100%;	*/
	overflow: auto;
}

.viewHistoryItem .title {
	border: none;
	font-weight: bolder;
}

/* For displaying set of specifications associated with a Unit */
.Specification pre {
	white-space: pre-line;
	margin: 6px 0 6px 0;
	border: solid 1px #a9bed3;
	padding: 2px 2px 2px 2px;
}

.Specification h3 {
	margin: 0px 0px 0px 0px;
}

#resourcePanel {
}

	#resourcePanel td, table {
		border: solid 1px #a9bed3;
		border-collapse: collapse;
	}

	#resourcePanel td {
		padding-left: 4px;
		padding-right: 4px;
	}

	#resourcePanel th {
		border: solid 1px #a9bed3;
		border-collapse: collapse;
		padding-left: 4px;
		padding-right: 4px;
		text-align: left;
		background-color: #e8eef4;
		font-weight: bolder;
	}

	#resourcePanel td.IntegralValue {
		text-align: right;
	}
	#resourcePanel td.CostValue {
		text-align: right;
	}
	#resourcePanel td.UnitCostValue {
		text-align: right;
	}

	#resourcePanel tr:nth-child(even) {
		background-color: #ECECEC;
		border-collapse: collapse;
	}
