/*----------------------------------------------------------
The base color for this template is #FFEBA0. If you'd like
to use a different color start by replacing all instances of
#FFEBA0 with your new color.

Thinkage Colors
193,182,125  #C1B67D (brown yellow)
56,88,21       #385815 (dark green)
255,235,160 #FFEBA0 (yellow)
----------------------------------------------------------*/

#main {
	padding: 10px 10px 10px 10px;
	background-color: #fff;
	margin-bottom: 4px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
}

header {
	position: relative;
	margin-bottom: 0;
	color: #000;
	padding: 0;
}

	header h1 {
		font-weight: bold;
		padding: 5px 0;
		margin: 0;
		color: #fff;
		border: none;
		line-height: 2em;
		font-family: Arial, Helvetica, sans-serif;
		font-size: larger;
	}


body {
	background-color: #FFEBA0;
	font-family: Verdana, Helvetica, Sans-Serif;
	margin: 0;
	padding: 0;
	color: #696969;
}

footer {
	color: #999;
	padding: 0;
	float: right;
	margin: 0;
	line-height: normal;
}

/* LINKS */

a:link {
	color: #034af3;
	text-decoration: underline;
}

a:visited {
	color: #505abc;
}

a:hover {
	color: #1d60ff;
	text-decoration: none;
}

a:active {
	color: #12eb87;
}

p, ul {
	margin-bottom: 20px;
	line-height: 1.6em;
}

/* The following apply to the 'Close' State action linkage on browsers */
a.StateActionLink {
	text-decoration: none;
	color: #385815;
	background: #FFEBA0;
	border: solid 1px #385815;
}

	a.StateActionLink:hover {
		text-decoration: none;
		background: #FFFFFF;
	}


/* HEADINGS ----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
	font-size: 1.5em;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 2em;
	padding-bottom: 0;
	margin-bottom: 0;
}

h2 {
	padding: 0 0 10px 0;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1.1em;
}

h5, h6 {
	font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS ----------------------------------------------------------*/
/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
/* user id row */
.UserIdRow {
	margin-bottom: 10px;
	display: inline-block;
	width: 100%;
}

.UserId {
	float: left;
}
/* LOGOUT control */
.logout {
	padding: 3px;
	border-width: 0;
	outline-width: 0;
	text-align: right;
	float: right;
}

	.logout a.StateActionLink {
		text-decoration: none;
		background: #385815;
		color: #FFEBA0;
		padding-left: 3px;
		padding-right: 3px;
		border: solid 1px #385815;
	}

		.logout a.StateActionLink:hover {
			text-decoration: none;
			background: #FFFFFF;
			color: #385815;
		}
/* FORM LAYOUT ELEMENTS   ----------------------------------------------------------*/
legend {
	font-size: 1.1em;
	font-weight: 600;
	padding: 2px 4px 8px 4px;
}

input[type="text"] {
	width: auto;
	border: 1px solid #CCC;
}

#EmailAddress {
	width: 20em;
	border: 1px solid #CCC;
}

#Subject {
	width: 44em;
	border: 1px solid #CCC;
}

input[readonly="true"] {
	background-color: #ccc;
}

textarea {
	height: 15em;
	width: 100%;
}

input[type="password"] {
	width: 20em;
	border: 1px solid #CCC;
}
/* The following correspond to the types defined in Thinkage.Libraries.TypeInfo (typically appear on input and input-validation fields)*/
.IntervalTypeInfo {
	text-align: right;
}

.IntegralTypeInfo {
	text-align: right;
}

.CurrencyTypeInfo {
	text-align: right;
}

/* MISC  ----------------------------------------------------------*/
.clear {
	clear: both;
}

.error {
	color: Red;
}

.Alert {
	color: Red;
}

.StateCode {
	color: Blue
}

.StatusCode {
	color: Red
}

.field-validation-error {
	color: #ff0000;
}

.input-validation-error {
	border: 1px solid #ff0000;
	background-color: #ffeeee;
}

.validation-summary-errors {
	font-weight: bold;
	color: #ff0000;
}
/* anything with class Deleted gets line-through */
.Deleted {
	text-decoration: line-through;
}
/* control the white space from multi-line values*/
/* Note the serif after Monospace to make browsers use same font sizing as proportional fonts */
/* see reference: http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/ for discussion of problem */

.MultiLine {
	vertical-align: text-top;
	white-space: pre-wrap;
	border-collapse: collapse;
	font-family: Monospace, serif;
}

/* ResultMessage - An error that occurred on some action typically shown immediately below the header */
.ResultMessage {
	background: Red;
	color: White;
}

/* Panel for enclosing Requestor contact information identified with id="contactPanel" */
.contactPanel {
	display: flex;
	text-align: left;
	margin: 0;
	color: #000000;
	flex-wrap: wrap;
}

.Phone {
	padding: 0 0 0 10px;
}

.Email {
	padding: 0 0 0 10px;
	font-size: smaller;
}
/* Panel used for entering a request */
#EnterRequestPanel {
	border: 1px solid #385815;
	padding: 10px;
	margin-bottom: 15px;
}
/* Panel used for Assignment Status (main page) */
#assignmentPanel {
	border-color: Black;
	border-width: 1px;
	border-collapse: collapse;
}

	#assignmentPanel div {
		border: none;
	}

	#assignmentPanel h3 {
		padding: 2px;
		text-align: left;
		font-size: 125%;
		font-weight: bolder;
		line-height: 100%;
		white-space: nowrap;
		margin-bottom: 15px;
	}

/* Panels for browsePanels*/
.browsePanel {
	border: none;
	border-collapse: collapse;
}

	.browsePanel table {
		width: 100%;
		border-collapse: collapse;
	}

	.browsePanel tr {
		border: 1px solid #385815;
	}

		.browsePanel tr:nth-child(even) {
			background-color: #ECECEC;
		}

	.browsePanel td {
		padding: 4px 2px 4px 2px;
	}

	.browsePanel th {
		padding: 2px 2px;
		text-align: left;
		background-color: #C1B67D;
		color: #385815;
		border: 1px solid #385815;
	}

.ActivityBlock {
	width: auto;
	display: inline-block;
	text-decoration: none;
}

.ActivityLink {
	width: inherit;
	position: relative;
	font-size: 1.1em;
	padding: 5px;
}

	.ActivityLink:hover .ThePopup {
		display: block;
		transition-delay: 1s;
	}
	.ActivityLink:hover .HelpPopup {
		display: block;
		transition-delay: 1s;
	}

	.ActivityLink > a {
		text-decoration: none;
		background-color: #FFEBA0;
		color: #385815;
		padding-left: 3px;
		padding-right: 3px;
		border: solid 1px #385815;
		border-radius: 25px;
	}

.WithPopup {
	position: relative;
}

	.WithPopup:hover .ThePopup {
		display: block;
	}
	.WithPopup:hover .HelpPopup {
		display: block;
	}

@media (max-width:800px ) {
	.SuppressWhenNarrow {
		display: none;
	}
}

.ThePopup {
	display: none;
	position: absolute;
	z-index: 100;
	border: 1px;
	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-color: #385815;
	color: #385815;
	padding: 5px 5px 5px 5px;
	top: 30px;
	left: 10px;
	width: inherit;
}
.HelpPopup {
	display: none;
	position: relative;
	z-index: 100;
	border: 1px;
	background-color: lightyellow;
	border-style: solid;
	border-width: 1px;
	border-color: #385815;
	color: #385815;
	padding: 1px 1px 1px 1px;
	top: 5px;
	left: 10px;
	width: inherit;
}
/* For viewing History Items */
.viewHistoryItem {
	position: relative;
	margin: 3px;
	margin-top: 6px;
	/*	border: 				1px solid #666; */
	padding: 4px 4px 4px 8px;
	background-color: #fff;
}

.RequestorComment {
	background-color: #f8f8f8;
}

/* State History Display */

#History .ui-accordion-header {
	font-weight: bolder;
}

.viewHistoryItem div {
	position: relative;
}

.viewHistoryItem {
	/*	border: 1px solid #ddd;*/
	margin-top: 5px;
}

	.viewHistoryItem .body .content {
		padding: 0 3px 0 3px;
		/*width: 					100%;	*/
		overflow: auto;
	}

	.viewHistoryItem .title {
		border: none;
		font-weight: bolder;
	}
/* For displaying set of specifications associated with a Unit */
.Specification pre {
	white-space: pre-line;
	margin: 0 0 0 0;
	border: 1px solid;
	padding: 2px 2px 2px 2px;
}

.Specification h3 {
	margin: 0 0 0 0;
}

.AttachmentContent {
	position: relative;
	margin: 3px;
	margin-top: 6px;
	/*	border: 				1px solid #666; */
	padding: 4px 4px 4px 8px;
	background-color: #fff;
}

.IntegralValue {
	text-align: right;
}

.CostValue {
	text-align: right;
}

.UnitCostValue {
	text-align: right;
}

.viewPanel {
	text-align: left;
	margin: 5px 0 5px 0;
	color: #000000;
	width: 100%;
}

.ResourceRow {
	width: 100%;
	display: inline-flex;
	flex-direction: column;
}

.ResourceLabel {
	width: 30%;
	display: inline-block;
	text-align: right;
	vertical-align: middle;
	font-weight: bolder;
}

.ResourceValue {
	width: 70%;
	text-align: right;
	display: inline-block;
}

.ResourceCheckbox {
	zoom: 1.5;
	display: inline-block;
	text-align: right;
	vertical-align: middle;
}

@media (min-width :480px ) {
	.ResourceRow {
		flex-direction: row;
	}
}

table.tablesorter {
	margin: 10px 0 15px;
	width: 100%;
	text-align: left;
}

	table.tablesorter thead th {
		background-repeat: no-repeat;
		background-position: center right;
		cursor: pointer;
	}

	table.tablesorter thead tr .tablesorter-headerAsc {
		padding-right: 20px;
		background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
	}

	table.tablesorter thead tr .tablesorter-headerDesc {
		padding-right: 20px;
		background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
	}

	table.tablesorter thead tr .tablesorter-headerUnSorted {
		padding-right: 20px;
		background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
	}

.LabelValueRow {
	color: black;
	display: inline-flex;
	width: 100%;
	border: solid 1px #a9bed3;
}

.LabelValueRowMultiLine {
	color: black;
	width: 100%;
	display: inline-block;
	white-space: pre-wrap;
	border: solid 1px #a9bed3;
}

.LabelValueRow + .LabelValueRow {
	border-top: 0;
}

.LabelValueRow + .LabelValueRowMultiLine {
	border-top: 0;
}

.LabelValueRowMultiLine + .LabelValueRowMultiLine {
	border-top: 0;
}

.LabelValueRowMultiLine + .LabelValueRow {
	border-top: 0;
}

.Label {
	width: 30%;
	text-align: right;
	vertical-align: middle;
	background-color: #e8eef4;
	padding-right: 5px;
	border-right: solid 1px #a9bed3;
}

.LabelValueRowMultiLine > .Label {
	width: auto;
	text-align: center;
	vertical-align: middle;
	border-bottom: solid 1px #a9bed3;
	border-right: 0;
}

.LabelValue {
	width: 70%;
	display: inline-block;
}

.LabelValueRowMultiLine > .LabelValue {
	width: 100%;
	vertical-align: text-top;
	white-space: pre-wrap;
	border-collapse: collapse;
	font-family: Monospace, serif;
}

.LabelCodeDescValue {
	width: 70%;
	display: flex;
}

.Code {
	vertical-align: middle;
	text-align: left;
	flex: 1 1 auto;
}

.Description {
	vertical-align: middle;
	text-align: right;
	flex: 1 1 auto;
}

.Actions {
	display: inline-flex;
	flex-direction: column;
	margin: 10px 0 10px 0;
	width: 100%;
	justify-content: flex-start;
}

@media (min-width: 480px) {
	.Actions {
		flex-direction: row;
	}
}

.Action {
	margin: 5px 5px 0px 0px;
	display: inline-flex;
}

.ui-accordion .ui-accordion-header {
	padding: 0 .5em 0 .7em;
}

.ui-accordion .ui-accordion-icons {
	padding-left: 2.2em;
}

.ui-accordion .ui-accordion-content {
	padding: 0;
}

.AccordianHeaderRow {
	width: inherit;
}
